:root {
    --black: #111215;
    --blue: rgba(48, 107, 172, 1);
    --gray: rgba(71, 68, 72, 1);
    
    --navbar-height: 50px;
    --navbar-count: 4;
    --header-height: 200px;
}

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

header, nav, footer {
    color: white;
    font-family: Anton, sans-serif;
}
body::after{
    content: "";
    position: fixed;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: url(../texture/pagebg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@-webkit-keyframes day-night {
    0% {
        background: #000 url(../texture/headerbg1.jpg) no-repeat 100% 40%;
        background-size: cover;
    }
    50%{
        background: #000 url(../texture/headerbg2.jpg) no-repeat 100% 40%;
        background-size: cover;
    }
    100% {
        background: #000 url(../texture/headerbg1.jpg) no-repeat 100% 40%;
        background-size: cover;
    }
}

@keyframes day-night {
    0% {
        background: #000 url(../texture/headerbg1.jpg) no-repeat 100% 40%;
        background-size: cover;
    }
    50%{
        background: #000 url(../texture/headerbg2.jpg) no-repeat 100% 40%;
        background-size: cover;
    }
    100% {
        background: #000 url(../texture/headerbg1.jpg) no-repeat 100% 40%;
        background-size: cover;
    }
}

.menu {
    top: 0;
    padding: 0;
    list-style: none;
    margin: auto;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    text-align: right;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    overflow: hidden;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: var(--black);
    border-bottom: 5px solid white;
    padding-right: 10%;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    -webkit-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    -webkit-transition-property: text-shadow, color;
    -o-transition-property: text-shadow, color;
    transition-property: text-shadow, color;
}
.menu li a:hover {
    color: var(--blue); 
    text-shadow: 0px 0px 10px var(--blue);
}
.menu .currentpage a {
    position: relative;
    text-decoration: underline;
}
.currentpage a::after {
    content: "";
    position: absolute;
    background-color: var(--black);
    height: 5px;
    width: 0%;
    left: -5%;
    top: 80%;
    -webkit-animation: underline 0.5s cubic-bezier(0.8,-0.54, 0.18, 1.65);
    animation: underline 0.5s cubic-bezier(0.8,-0.54, 0.18, 1.65);
}
@-webkit-keyframes underline {
    0%{
        width: 110%;
    }
    100% {
        width: 0%;
    }
}
@keyframes underline {
    0%{
        width: 110%;
    }
    100% {
        width: 0%;
    }
}

.menu li {
    display: inline;
    margin-right: 5%;
}

.logoicon {
    margin: auto;
    margin-top: 5px;
    padding: 0;
    height: calc(var(--navbar-height) - 10px);
    width: var(--navbar-height);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background: url(../texture/cjicon.png) no-repeat 50% 50%;
    background-size:contain;
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotate(20deg);
    transform: rotateZ(20deg);
    cursor: pointer;
}

.logoicon:hover {
    -webkit-animation: rotation 500ms cubic-bezier(0.56, 0.26, 0.47, 0.75);
    animation: rotation 500ms cubic-bezier(0.56, 0.26, 0.47, 0.75);
}

.logoicon:focus {
    outline: 0;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    25% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    25% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    75% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
}


.menuicon {
    position: fixed;
    color: white;
    padding: 0;
    top:0;
    width: 100%;
    background-color: var(--black);
    text-align: right;
    height: var(--navbar-height);
    display: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.menuicon > div {
    cursor: pointer;
    background-color: white;
    height: 3px;
    width: 30px;
    position: relative;
    bottom: -50%;
    left: 85%;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
       transition-delay: 0.5s;
}
.menuicon > div::before {
    content: "";
    background-color: white;
    border-radius: 50px;
    height: 3px;
    width: 30px;
    position: absolute;
    left: 0%;
    -webkit-transition: 1s cubic-bezier(0.8,-0.54, 0.18, 1.65);
    -o-transition: 1s cubic-bezier(0.8,-0.54, 0.18, 1.65);
    transition: 1s cubic-bezier(0.8,-0.54, 0.18, 1.65);    
    top: 250%
}
.menuicon > div::after {
    content: "";
    background-color: white;
    border-radius: 50px;
    height: 3px;
    width: 30px;
    position: absolute;
    left: 0%;
    -webkit-transition: 0.9s cubic-bezier(0.8,-0.54, 0.18, 1.65);
    -o-transition: 0.9s cubic-bezier(0.8,-0.54, 0.18, 1.65);
    transition: 0.9s cubic-bezier(0.8,-0.54, 0.18, 1.65);
    top: -250%
}
.menuopen ~ .menuicon > div {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    height: 0;
    background-color: none;
}
.menuopen ~ .menuicon > div::before {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
        transform: rotateZ(-45deg);
}
.menuopen ~ .menuicon > div::after {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
        transform: rotateZ(45deg);
}


.navtext {
    font-size: 2vw;
    top: -100%;
    position: relative;
    margin-left: 5%;
    padding: 0;
    height: 0;
    width:100px;
    -webkit-transition: 800ms cubic-bezier(0.51, 0, 0.28, 1);
    -o-transition: 800ms cubic-bezier(0.51, 0, 0.28, 1);
    transition: 800ms cubic-bezier(0.51, 0, 0.28, 1);
    line-height: calc(var(--navbar-height));
}
.darknavbar .navtext {
    top: 0;
}

nav {
    top: 0;
    padding: 0;
    list-style: none;
    margin: auto;
    margin-top: 0px;
    position: fixed;
    width: 100%;
    height: var(--navbar-height);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    background-color: var(--black);
    -webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.79);
    z-index: 999;
}

.logotext {
    margin: auto;
/*    background-color: rgba(0, 0, 0, 0.3);*/
    background-size: 100;
    height: calc(var(--header-height) - var(--navbar-height));
    width:100%;
    -webkit-transform:translate(0%, var(--navbar-height));
    -ms-transform:translate(0%, var(--navbar-height));
    transform:translate(0%, var(--navbar-height));
    text-shadow: 0px 0px 50px rgba(0,0,0,0.6);
}

.logotext h1 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    font-size: 5vw;
    height: 0;
    line-height: 0;
}

.logotext h2 {
    height: 0;
    line-height: 0;
    position: relative;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    font-size: 2vw;
    -webkit-animation: txtmovein 1s ease;
    animation: txtmovein 1s ease;
}

@-webkit-keyframes txtmovein {
    0% {
        font-size: 0vw;
    }
}

@keyframes txtmovein {
    0% {
        font-size: 0vw;
    }
}

.darknavbar {
    --navbar-height: 80px;
    background-color: var(--black);

}
.scrollcontent {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-height: calc(100vh - var(--navbar-height));
}


header, .whitepage {
    margin: 0px 10px;
    -webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.79);
    max-width: 1000px;
}


header {
    margin-top: 100px;
    height: var(--header-height);
    background: #000 url(../texture/headerbg1.jpg) no-repeat 100% 40%;
    text-align: center;
    background-size: cover;
    line-height: calc(400px + var(--navbar-height));
    -webkit-animation: day-night 20s ease infinite;
    animation: day-night 20s ease infinite;
}

.whitepage {
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    color: var(--black);
    -webkit-box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.79);
    font-family: Geo, sans-serif;
    padding: 0px 10% 50px;
    user-select:text;
}

footer {
    text-align: center;
    background-color: var(--black);
    color: var(--gray);
    -webkit-box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.79);
    border-top: 5px solid white;
    font-size: 12px;
    line-height: 18px;
}

@media(max-width: 786px) {
    header {
        margin-top: 65px;
    }
    
    .menuicon {
        display: block;
    }
    
    .menu li {
        margin-right: 0;
        display: block;
        text-align: center;
    }
    
    .menu {
        height: 0px;
        margin-top: var(--navbar-height);
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
    }
    
    .menuopen {
        height: calc(var(--navbar-height) * var(--navbar-count));
    }
    
    .logotext h1 {
        font-size: 12vw;
}

    .logotext h2 {
        font-size: 6vw;
    }
}

.footerdiv {
    border-top: 2px solid var(--gray);
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    max-width: 400px;
}

.fa-2x {
    margin-left: 25px;
    margin-right: 25px;
}