.link {
    color: var(--gray);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.link:hover{
    color: var(--blue);
}

.nodecor {
    text-decoration: none;
}

content h3 {
    margin: auto;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    color: var(--blue);
    position: relative;
    width: 90%;
}
content h3::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 100%;
    top: 80%;
    left: 0px;
    background-color: var(--blue);;
}

content p {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 25px;
    text-align: justify;
}

content ul, ol {
    font-size: 25px;
    position: relative;
    margin: auto;
    text-align: left;
    width: 70%;
    list-style-type:square;
    color: var(--blue)
}

 content li span {
    color: var(--black)
}

.truefalselist {
    list-style: none;
    max-width: 260px;
    border: 2px solid;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    padding-bottom: 5px;
}

content li {
    position: relative;
}

.lifalse::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 30px;
    top: 15px;
    left: -30px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background-color: darkred;
}
.lifalse::before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 30px;
    top: 15px;
    left: -30px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: darkred;
}
.litrue::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 20px;
    top: 14px;
    left: -23px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background-color: limegreen;
}
.litrue::before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 10px;
    top: 17px;
    left: -27px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: limegreen;
}

.copyable {
    color: var(--gray);
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: text;
    user-select: all;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    border-radius: 5px;
    cursor:auto;
}


