content * {
    font-size: 18px;
}

content a, .link {
    color: var(--gray);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

content a:hover , .link:hover{
    color: var(--blue);
}

.nodecor {
    text-decoration: none;
}

content h3 {
    font-size: 40px;
    color: var(--black);
    margin: 50px 0 0 0;
    display: inline-block;
}


content ul, ol {
    list-style-type:square;
    color: var(--blue);
}

 content li span {
     color: var(--black);
}

.truefalselist {
    list-style: none;

}

.truefalselist li {
    display: inline-block;
    position: relative;
    margin-right: 50px;
}

.lifalse::after {
    content: "";
    position: absolute;
    border-radius: 50px;
    height: 3px;
    width: 20px;
    top: 10px;
    left: -20px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background-color: darkred;
}
.lifalse::before {
    content: "";
    position: absolute;
    border-radius: 50px;
    height: 3px;
    width: 20px;
    top: 10px;
    left: -20px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: darkred;
}
.litrue::after {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 15px;
    top: 9px;
    left: -16px;
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background-color: limegreen;
}
.litrue::before {
    content: "";
    position: absolute;
    background-color: black;
    border-radius: 50px;
    height: 3px;
    width: 8px;
    top: 11px;
    left: -19px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background-color: limegreen;
}

.copyable {
    color: var(--gray);
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: text;
    user-select: all;
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
    cursor:auto;
}

.center{
    text-align: center;
}
.flex {
    display: flex;
    position: relative;
}

@media(max-width: 786px) {
    content h3 {
        font-size: 30px;
    }
}
