button:focus, input[type="checkbox"]:focus, .commandbox:focus {
    outline: 0;
}

.codeclaim {
    display: block;
    position: static;
    max-width: 100%;
    margin: auto;
    border-radius: 3px;
    line-height: 0px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;

}
.codeclaimspace {
    display: block;
    position: static;
    max-width: 510px;
    padding: 0;
    margin: auto;
    border-radius: 8px;
    line-height: 0px;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.codeclaim button {
    width: 100%;
}

.commandbox {
    background-color: transparent;
    resize: none;
    height: 60%;
    width: 99%;
    border: none;
    border-bottom: 5px solid var(--blue);
    font-size: 10px;
}
.commandbox::-moz-selection{
    background-color: rgba(0,0,0,0.09);
}
.commandbox::selection{
    background-color: rgba(0,0,0,0.09);
}

button, .ivideo iframe {

    -webkit-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    position: relative;
    border: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    font-family: Geo, sans-serif;
    font-size: 20px;
    background-color: var(--blue);
    color: white;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    display: inline-block;
}

button:hover {
    border-radius: 50px;
}

button::after {
    content: "";
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    top: 0%;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
}

button:active::after{
    width: 0%;
    right: 50%;
    opacity: 0.5;
    -webkit-transition: 0s;
    transition: 0s;
}

button:active {
    transform: scale(0.95, 0.95);
    transition: 0s;
}
.checkboxdiv {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    position: relative;
    line-height: 0;
    border: 5px solid var(--blue);
    border-radius: 50%;
    background-color: var(--blue);
    -webkit-transform: rotateY(180deg) scaleY(0.6) scalex(0.6);
    transform: rotateY(180deg) scaleY(0.6) scalex(0.6);
}

input[type="checkbox"] {
    display: block;
    position: relative;
    border: none;
    margin: 0;
    height: 100%;
    width: 200px; 
    right: 400%;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    z-index: 1;
}

.checkboxsvg {
    position: relative;
    fill:var(--blue);
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 250%;
    stroke-dashoffset: -71%;
    -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.38, 0.99);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.38, 0.99);
    height: 50px;
    width: 50px;
    top: -45px;
    left: -5px;
}
input[type="checkbox"]:hover + label .checkboxsvg {
    stroke-width: 5px;
}

input[type="checkbox"]:checked + label .checkboxsvg {
    stroke-dasharray: 249%;
    stroke-dashoffset: 179%;
}

.ivideo {
/*  original
    width: 560px;
    height: 315px;
*/
    position: relative;
    width: 50%;
    padding-bottom: 28.5%;
    margin-top: 10px;
    margin-bottom: 15px;
    left: 25%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.ivideo iframe {
    position: absolute;
    top:0;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: var(--black);
}

.acceptbox {
    line-height: 50px;
    text-align: right;
    padding-top: 20px;
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 25px;
}
.acceptbox .checkboxdiv {
    top: -100%;
    right: 40%;
}


.mebehind::before {
    content: "";
    display:block;
    position: absolute;
    height: 70%;
    width: 100px;
    right: 70%;
    bottom: 5%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: visible;
    background-image: url("../texture/me.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.mebehind:hover::before {
    right: 96%;
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}


.mebehind::after{
    content: "Are you Subbed?";
    display:block;
    position: absolute;
    width: 150px;
    right: 102%;
    top: 10%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: visible;
    color: black;
    font-size: 20px;
    border: 0.px solid;
    -webkit-transform: translateZ(-1), rotateZ(20deg);
    transform: translateZ(-1), rotateZ(20deg);
    opacity: 0;
}
.mebehind:hover::after {
    opacity: 0.2;
}

.oocicon {
    background-image: url(../texture/cmdmachine.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    margin-left: 20px;
     -webkit-animation: float 50s ease-in-out infinite;
    animation: float 5s ease-in-out infinite;

}
@keyframes float {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
}


@media(max-width: 900px) {
    .oocicon {
        display: none;
    }
    .ivideo {
        position: relative;
        width: 100%;
        padding-bottom: 56.99%;
        left: 0
    }
    .mebehind::after {
        opacity: 0;
        display: none;
    }
    .mebehind::before {
        opacity: 0;
    }
    
}

