button:focus, input[type="checkbox"]:focus, .commandbox:focus {
    outline: 0;
}

/*Not selectable things*/
button, .acceptbox, .ivideo {
    user-select: none;
} 

.codeclaim {
    display: block;
    position: static;
    max-width: 100%;
    margin: auto;
    border-radius: 3px;
    line-height: 0px;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;

}

.codeclaimspace {
    display: block;
    position: static;
    max-width: 510px;
    padding: 0;
    margin: auto;
    border-radius: 8px;
    line-height: 0px;
    height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.codeclaim button {
    width: 100%;
}

.commandbox {
    background-color: transparent;
    resize: none;
    height: 60%;
    width: 99%;
    border: none;
    border-bottom: 5px solid var(--blue);
    font-size: 10px;
}

.commandbox::-moz-selection{
    background-color: rgba(0,0,0,0.09);
}

.commandbox::selection{
    background-color: rgba(0,0,0,0.09);
}

button, .ivideo iframe {

    -webkit-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    position: relative;
    border: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    font-family: Geo, sans-serif;
    font-size: 20px;
    background-color: var(--blue);
    color: white;
    -webkit-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    display: inline-block;
}

button:hover {
    border-radius: 50px;
}

button::after {
    content: "";
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0%;
    top: 0%;
    border-radius: 50px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
}

button:active::after{
    width: 0%;
    right: 50%;
    opacity: 0.5;
    -webkit-transition: 0s;
    transition: 0s;
}

button:active {
    transform: scale(0.95, 0.95);
    transition: 0s;
}
.checkboxdiv {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
    position: relative;
    line-height: 0;
    border: 5px solid var(--blue);
    border-radius: 50%;
    background-color: var(--blue);
    -webkit-transform: rotateY(180deg) scaleY(0.6) scalex(0.6);
    transform: rotateY(180deg) scaleY(0.6) scalex(0.6);
}

input[type="checkbox"] {
    display: block;
    position: relative;
    border: none;
    margin: 0;
    height: 100%;
    width: 200px; 
    right: 400%;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
    z-index: 1;
}

.checkboxsvg {
    position: relative;
    fill:var(--blue);
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-dasharray: 250%;
    stroke-dashoffset: -71%;
    -webkit-transition: 0.5s cubic-bezier(0.65, 0.05, 0.38, 0.99);
    transition: 0.5s cubic-bezier(0.65, 0.05, 0.38, 0.99);
    height: 50px;
    width: 50px;
    top: -45px;
    left: -5px;
}

input[type="checkbox"]:hover + label .checkboxsvg {
    stroke-width: 5px;
}

input[type="checkbox"]:checked + label .checkboxsvg {
    stroke-dasharray: 249%;
    stroke-dashoffset: 179%;
}

.ivideo {
/*  original
    width: 560px;
    height: 315px;
*/
    position: relative;
    width: 50%;
    padding-bottom: 28.5%;
    margin-top: 10px;
    margin-bottom: 15px;
    left: 25%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}

.ivideo iframe {
    position: absolute;
    top:0;
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 2px;
    background-color: var(--black);
}

.acceptbox {
    line-height: 50px;
    text-align: right;
    padding-top: 20px;
    margin: auto;
    width: 100px;
    height: 50px;
    font-size: 25px;
}

.acceptbox .checkboxdiv {
    top: -100%;
    right: 40%;
}

.mebehind::before {
    content: "";
    display:block;
    position: absolute;
    height: 70%;
    width: 100px;
    right: 70%;
    bottom: 5%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: visible;
    background-image: url("../texture/me.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.mebehind:hover::before {
    right: 96%;
    -webkit-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}

.mebehind::after{
    content: "Are you Subbed?";
    display:block;
    position: absolute;
    width: 150px;
    right: 102%;
    top: 10%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    overflow: visible;
    color: black;
    font-size: 20px;
    border: 0.px solid;
    -webkit-transform: translateZ(-1), rotateZ(20deg);
    transform: translateZ(-1), rotateZ(20deg);
    opacity: 0;
}

.mebehind:hover::after {
    opacity: 0.2;
}

.oocicon {
    background-image: url(../texture/cmdmachine.png);
    background-size:contain;
    background-repeat: no-repeat;
    margin-left: 20px;
    width: 15%;
    -webkit-animation: float 5s ease-in-out infinite;
    animation: float 5s ease-in-out infinite;
}

.flex .oocdesc {
    width: 80%;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }
}

.blackbottle {
    display: block;
    margin: auto;
    fill:var(--black);
    stroke: var(--black);
    width: 100px;
    height: 100px;
    overflow: visible;
}

.blackbottle path {
    -webkit-animation: error-blink 5s infinite;
    animation: error-blink 5s infinite;
}

@-webkit-keyframes error-blink {
    5%{
        /*origonal*/
        d: path('M135.8,105.9h-15.7V90.7h-14.3V76H90.7c-0.3-1,0.1-0.5-0.5-1V55c0-3.1-0.4-7.2,0.5-9.5h15.2V15.7c-4.4,0-12.2,0.8-15.7-0.5V0H46v15.2h-0.5v0.5H30.4v29.9c4.4,0,12.2-0.8,15.7,0.5c0,9.2,1,21.7-0.5,29.9H30.4v14.2H16.2v15.7c-4.5,0-12.6-0.8-16.1,0.5v66.4c0,2.6-0.2,5.8,0.5,7.6h29.9V196h75.4v-16.1h30.4v-66.4C136.2,110.9,136.4,107.7,135.8,105.9zM85,135.3c-7.2,0-13.4-4.6-16.5-11.4c-3.1,6.8-9.3,11.4-16.5,11.4c-10.3,0-18.7-9.6-18.7-21.3c0-2.6,0.4-5,1.2-7.3l22.8-13.1c4.9,1.6,8.9,5.5,11.3,10.5c2.3-5,6.4-8.9,11.3-10.5l22.8,13.1c0.7,2.3,1.2,4.7,1.2,7.3C103.7,125.8,95.3,135.3,85,135.3z')
    }
    1%{
        /*blink*/
        d: path('M135.8,105.9h-15.7V90.7h-14.3V76H90.7c-0.3-1,0.1-0.5-0.5-1V55c0-3.1-0.4-7.2,0.5-9.5h15.2V15.7c-4.4,0-12.2,0.8-15.7-0.5V0H46v15.2h-0.5v0.5H30.4v29.9c4.4,0,12.2-0.8,15.7,0.5c0,9.2,1,21.7-0.5,29.9H30.4v14.2H16.2v15.7c-4.5,0-12.6-0.8-16.1,0.5v66.4c0,2.6-0.2,5.8,0.5,7.6h29.9V196h75.4v-16.1h30.4v-66.4C136.2,110.9,136.4,107.7,135.8,105.9z')
    }
}

@keyframes error-blink {
    5%{
        /*origonal*/
        d: path('M135.8,105.9h-15.7V90.7h-14.3V76H90.7c-0.3-1,0.1-0.5-0.5-1V55c0-3.1-0.4-7.2,0.5-9.5h15.2V15.7c-4.4,0-12.2,0.8-15.7-0.5V0H46v15.2h-0.5v0.5H30.4v29.9c4.4,0,12.2-0.8,15.7,0.5c0,9.2,1,21.7-0.5,29.9H30.4v14.2H16.2v15.7c-4.5,0-12.6-0.8-16.1,0.5v66.4c0,2.6-0.2,5.8,0.5,7.6h29.9V196h75.4v-16.1h30.4v-66.4C136.2,110.9,136.4,107.7,135.8,105.9zM85,135.3c-7.2,0-13.4-4.6-16.5-11.4c-3.1,6.8-9.3,11.4-16.5,11.4c-10.3,0-18.7-9.6-18.7-21.3c0-2.6,0.4-5,1.2-7.3l22.8-13.1c4.9,1.6,8.9,5.5,11.3,10.5c2.3-5,6.4-8.9,11.3-10.5l22.8,13.1c0.7,2.3,1.2,4.7,1.2,7.3C103.7,125.8,95.3,135.3,85,135.3z')
    }
    1%{
        /*blink*/
        d: path('M135.8,105.9h-15.7V90.7h-14.3V76H90.7c-0.3-1,0.1-0.5-0.5-1V55c0-3.1-0.4-7.2,0.5-9.5h15.2V15.7c-4.4,0-12.2,0.8-15.7-0.5V0H46v15.2h-0.5v0.5H30.4v29.9c4.4,0,12.2-0.8,15.7,0.5c0,9.2,1,21.7-0.5,29.9H30.4v14.2H16.2v15.7c-4.5,0-12.6-0.8-16.1,0.5v66.4c0,2.6-0.2,5.8,0.5,7.6h29.9V196h75.4v-16.1h30.4v-66.4C136.2,110.9,136.4,107.7,135.8,105.9z')
    }
}

.card {
    position: relative;
    width: 100%;
    margin: auto;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.card:hover{
    -webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
}

.card:hover .cardimgbox img {
    opacity: 0.5;
}

.cardimgbox {
   overflow:hidden;
   margin:10px; 
}

.cardimgbox img {
    display:block;
    width: 100%;
    margin:-10% 0;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card h2 {
    text-align: center;
}

.cardwrapper{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;

}

.cardimgbox::after {
    content: attr(version);
    background-color: var(--blue);
    position: absolute;
    top: 10px;
    right: -30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100px;
    text-align: center;
    color: white;
    opacity: 1;
}

@media(max-width: 820px){
    .cardwrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 550px){
    .cardwrapper{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 900px) {
    .oocicon {
        display: none;
    }
    .flex .oocdesc {
    width: 100%;
    }
    .ivideo {
        position: relative;
        width: 100%;
        padding-bottom: 56.99%;
        left: 0
    }
    .mebehind::after {
        opacity: 0;
        display: none;
    }
    .mebehind::before {
        opacity: 0;
    }
}